/* 
*sns, 커넥트 박스
 */

footer{
    width: 100%;
    height: 300px;
    background-color: var(--root-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(77, 76, 76);
}

.sns_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns_box a:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.sns_box a:hover > img{
    background-color: #ff0000;
}

.sns_box a:hover > .facebook {
    background-color: #1c509a;
}

.sns_box a:hover > .twiter {
    background-color: #1d9bf0;
}

.sns_box img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: var(--block-color);
    padding: 10px;
    border: 3px solid var(--bg-color);
    border-radius: 50%;
}

.footer_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo_box {
    margin-right: 20px;
}

.footer_logo_box a{
    cursor: pointer;
}

.footer_logo_box h5{
    color: var(--text-color2);
    user-select: none;
}

.footer_mark img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

/* 미디어 쿼리 */
@media all and (max-width: 768px) {
    .sns_box{
        transform: scale(0.8);
    }
    .footer_mark {
        display: none;
    }
    .footer_box {
        flex-direction: column;
    }

    .footer_logo_box p {
        display: none;
    }
    .footer_logo_box h4{
        font-size: 11px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer_logo_box p {
        font-size: 11px;
    }
}