/* 
*해더
**로고, 내비 버튼
**슬라이드 박스(3)
*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
    position: relative;
    font-family: 'Oswald',
    sans-serif;
    height: 800px;
    overflow: hidden;
}

/* 로고, 내비 버튼 */
.log_container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -10px;
    padding: 0px 100px;
    z-index: 1;
}

/* 로고 */
.log_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    position: relative;
}

.log_box img{
    position: absolute;
    top: 20px;
    left: -50px;
    transform: rotateZ(20deg) scale(1.5);
}

/* 내비 버튼 */
.log_container nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.log_container nav a{
    text-decoration: none;
    margin: 15px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.log_container nav a:hover {
    transition: 0.5s;
    color: var(--text-color2);
}

/* 회전하는 텍스트 */
.circle_text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -200px;
    left: -150px;
    z-index: 1;
}

.circle_text svg {
    height: 620px;
}

.circle_text svg text {
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 20px;
    fill: var(--text-color2);
}

/* 슬라이드 박스*/
.slider_Container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--root-color);
}

.slide_Box{
    width: 100%;
    height: 100%;
}

/* 첫번째 슬라이드*/
.slide_first_section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_first_section_text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.slide_first_section_text h1:first-of-type {
    font-size: 200px;
    line-height: 130px;
    color: var(--text-color);
    font-weight: 800;
    font-family: 'Oswald',
        sans-serif;
}

.slide_first_section_text h1 {
    color: var(--text-color);
    font-size: 140px;
}

.slide_first_section_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slide_first_section_img img{
    height: 800px;
}


/* 글자 박스 */
.letter_box{
    width: 100%;
    height: 50px;
    color: rgb(104, 103, 103);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px;
    font-family: 'Nanum Pen Script',
    cursive;
    font-size: 40px;
}


/* 두번째 슬라이드 */
.slide_coffee{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_coffee img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 세번째 슬라이드 */
.slide_Cup {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_Cup img {
    width: 600px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: 1s;
}

.slide_Cup img:first-child {
    z-index: 1;
    animation: pullDown 1s 1s ease-in-out forwards;
}

.slide_Cup img:nth-child(2) {
    z-index: 3;
    animation: pullIce 1s 2.6s ease-in-out infinite;
}

.slide_Cup img:nth-child(3) {
    z-index: 5;
    animation: pullDown 1s 1s ease-in-out forwards;
}

.slide_Cup img:nth-child(4) {
    z-index: 4;
    animation: pullUp 2.3s 1s ease-in-out forwards;
}

.slide_Cup span {
    background-color: var(--root-color);
    width: 130px;
    height: 220px;
    position: absolute;
    top: 48%;
    left: 50%;
    border-radius: 28%;
    transform: translate(-47%, -25%);
    animation: pullCoffee 1s 2.5s ease-in-out forwards;
}


/* 슬라이드 박스 좌우 버튼 */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--block-color);
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 5;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* 슬라이드 점 버튼 */
.dot_box{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--block-color);
}

/* 슬라이드 박스 페이드 효과 */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

/* 슬라이드 박스3 애니메이션 */
@keyframes pullDown {
    0% {
        transform: translate(-50%, -800px);
        opacity: 0;
    }
    
    80% {
        transform: translate(-50%, -50%) scaleY(0.9);
        opacity: 1s;
    }
    
    100% {
        transform: translate(-50%, -50%);
        opacity: 1s;
    }
}

@keyframes pullUp {
    0% {
        transform: translate(-50%, 800px);
        opacity: 0.5;
    }

    90% {
        transform: translate(-50%, -50%) scaleY(0.9);
        opacity: 1s;
    }
    
    100%{
        transform: translate(-50%, -50%);
        opacity: 1s;
    }
}

@keyframes pullCoffee {
    from {
        background: linear-gradient(to top, var(--bean-color) 50%, var(--root-color) 50%);
        background-size: 100% 200%;
        background-position: top;
    }

    to {
        background: linear-gradient(to top, var(--bean-color) 50%, var(--root-color) 50%);
        background-size: 100% 200%;
        background-position: bottom;
    }
}

@keyframes pullIce {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateZ(3deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
}


/* 미디어쿼리*/
@media all and (max-width: 768px) {
    header {
        height: 600px;
    }
    .log_container {
        padding: 5px;
    }
    nav {
        display: none;
    }
    .log_box h1 {
        font-size: 20px;
    }
    .circle_text{
        left: -300px;
    }
    .circle_text svg{
        height: 550px;
    }
    .circle_text svg text{
        font-size: 30px;
    }
    .log_box img{
        top: 10px;
        left: -60px;
        transform: rotateZ(20deg) scale(0.9);
    }
    .log_container {
        padding: 5px;
    }
    .slide_first_section_text{
        width: 100%;
        align-items: center;
    }
    .slide_first_section_text h1:first-of-type{
        font-size: 120px;
        line-height: 100px;
    }
    .slide_first_section_text h1{
        font-size: 85px;
    }
    .slide_first_section_img {
        width: 0;
        display: none;
    }
    .letter_box {
        color: var(--text-color2);
        font-size: 25px;
        align-items: center;
    }
    .slide_coffee img {
        width: 200px;
        height: 200px;
    }
    .event {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .log_box img {
        top: 10px;
        left: -55px;
        transform: rotateZ(20deg) scale(1.2);
    }
    .circle_text {
        left: -260px;
    }
    .slide_first_section_text{
        width: 100%;
        align-items: center;
    }
    .slide_first_section_text h1:first-of-type {
        font-size: 140px;
        line-height: 100px;
    }
    .slide_first_section_text h1 {
        font-size: 100px;
    }
    .slide_first_section_img,
    .event {
        display: none;
    }
    .letter_box {
        color: var(--text-color2);
        font-size: 30px;
        align-items: center;
    }
    .log_container{
        padding: 0px 50px
    }
}
