header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.log_container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 0px 100px;
}

.log_box{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.log_box h1{
    margin-left: 20px;
    font-size: 20px;
    color: var(--root-color);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    margin: 15px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--root-color);
}

.slider_Container {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
    background-color: var(--root-color);
}

.slide_Box{
    width: 100%;
    height: 800px;
}

.slide_Box img{
    height: 800px;
    position: absolute;
    top: 0;
    right: 150px;
}

.slide_text_box{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: end;
    width: 700px;
}

.slide_text_box h1{
    width: 100%;
    height: 300px;
    font-size: 205px;
    color: var(--bg-color);
    font-weight: 800;
    margin-top: -100px;
}

.slide_text_box h5 {
    font-size: 22px;
    color: var(--block-color);
}

.slide_coffee{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_coffee img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--block-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide_Number {
    position: absolute;
    top: 0;
}

.dot_box{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--block-color);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.circle_text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -200px;
    left: -150px;
    z-index: 1;
}

svg {
    height: 620px;
}

svg text{
    font-size: 50px;
    font-family: Helvetica Neue,
    sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 20px;
    fill: var(--bg-color);
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

.slide_Cup img:first-child {
    z-index: 5;
}

.slide_Cup img:nth-child(2) {
    z-index: 4;
}

.slide_Cup img:nth-child(3) {
    z-index: 3;
}

.slide_Cup img:nth-child(4) {
    z-index: 4;
}

.ice {
    /* transition: 0.5s;
    animation: coffee-ice 1s 1s ease-in-out infinite;
    z-index: 5; */
}

@keyframes coffee-ice {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

/* background: linear-gradient(-130deg, rgb(128, 106, 47) 50%, var(--root-color) 50%);
background-size: 100% 400%;
animation: coffe-flow 10s 2s ease-in-out infinite;
transition: 1s; */