header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    white-space: nowrap;
}

/* 해더 시작 */

.log_container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 10px -10px;
    padding: 0px 100px;
    z-index: 1;
}

.log_box{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.log_box h1{
    margin-left: 20px;
    font-size: 20px;
    color: var(--text-color2);
}

/* 여기까지가 왼쪽 */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    text-decoration: none;
    margin: 15px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

nav a:hover {
    transition: 0.5s;
    color: var(--text-color2);
}

/* 여기까지가 오른쪽 */

.slider_Container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--root-color);
}

.slide_Box{
    width: 100%;
    height: 800px;
}

.slide_Box img{
    height: 800px;
    position: absolute;
    top: 0;
    right: 10vw;
}

.slide_text_box{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: end;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.slide_text_box h1{
    width: 100%;
    height: 300px;
    font-size: 205px;
    color: var(--text-color);
    font-weight: 800;
    margin-top: -100px;
}

.letter_box{
    width: 300px;
    height: 50px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px;
}

/* 여기까지가 슬라이드 박스 1번 */

.slide_coffee{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_coffee img{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 여기까지가 슬라이드 박스 2번 */

.slide_Cup {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide_Cup img {
    width: 600px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: 1s;
}

.slide_Cup img:first-child {
    z-index: 1;
    animation: pullDown 1s 1s ease-in-out forwards;
}

.slide_Cup img:nth-child(2) {
    z-index: 3;
    animation: pullIce 1s 2.6s ease-in-out infinite;
}

.slide_Cup img:nth-child(3) {
    z-index: 5;
    animation: pullDown 1s 1s ease-in-out forwards;
}

.slide_Cup img:nth-child(4) {
    z-index: 4;
    animation: pullUp 2.3s 1s ease-in-out forwards;
}

.slide_Cup span {
    background-color: var(--root-color);
    width: 130px;
    height: 220px;
    position: absolute;
    top: 48%;
    left: 50%;
    border-radius: 28%;
    transform: translate(-47%, -25%);
    animation: pullCoffee 1s 2.5s ease-in-out forwards;
}

/* 여기까지가 슬라이드 박스 3번 */
    
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: var(--block-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide_Number {
    position: absolute;
    top: 0;
}

.dot_box{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--bg-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--block-color);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* 슬라이드 박스의 큰요소들 버튼, 사라짐, dot */

.circle_text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -200px;
    left: -150px;
    z-index: 1;
}

svg {
    height: 620px;
}

svg text{
    font-size: 50px;
    font-family: Helvetica Neue,
    sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 20px;
    fill: var(--text-color2);
}

/* 요녀석이 돌아가는 친구 SVG 글자 */

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1
    }
}

@keyframes pullDown {
    0% {
        transform: translate(-50%, -800px);
        opacity: 0;
    }
    
    80% {
        transform: translate(-50%, -50%) scaleY(0.9);
        opacity: 1s;
    }
    
    100% {
        transform: translate(-50%, -50%);
        opacity: 1s;
    }
}

@keyframes pullUp {
    0% {
        transform: translate(-50%, 800px);
        opacity: 0.5;
    }

    90% {
        transform: translate(-50%, -50%) scaleY(0.9);
        opacity: 1s;
    }
    
    100%{
        transform: translate(-50%, -50%);
        opacity: 1s;
    }
}

@keyframes pullCoffee {
    from {
        background: linear-gradient(to top, var(--bean-color) 50%, var(--root-color) 50%);
        background-size: 100% 200%;
        background-position: top;
    }

    to {
        background: linear-gradient(to top, var(--bean-color) 50%, var(--root-color) 50%);
        background-size: 100% 200%;
        background-position: bottom;
    }
}

@keyframes pullIce {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotateZ(3deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
}

/* 피를 갈아 넣은 애니메이션들 */


@media screen and (max-width: 768px) {
    .log_container {
        padding: 5px;
    }
    nav {
        display: none;
    }
    svg{
        display: none;
    }
    .log_box h1 {
        font-size: 20px;
    }
    .slide_text_box{
        top: 60%;
        left: 20%;
    }
    .slide_text_box h1{
        font-size: 150px;
        height: 250px;
    }
    .log_container{
        padding: 5px;
    }
    .letter_box {
        color: var(--text-color2);
        border: 2px solid var(--text-color2);
    }
    .slide_coffee img {
        width: 200px;
        height: 200px;
    }
}

/* 미디어 쿼리*/