/* 
*메인 컨테이너 
*/

.main_container{
    width: 100%;
    background-color: var(--bg-color);
    overflow: hidden;
    font-family: sans-serif;
    padding: 0px 100px;
}

/* 해쉬태그 박스 */
.hashtag_box{
    width: 100%;
    padding: 50px 20px;
    user-select: none;
}

.hashtag_line_1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hashtag_btn{
    padding: 6px 15px;
    color: var(--text-color);
    font-weight: 600;
    border-radius: 25px;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    background: linear-gradient(100deg,  var(--block-color) 50%, var(--root-color) 50%);
    background-size: 220% 100%;
    background-position: right bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.hashtag_btn:hover{
    transform: translateY(-2px);
    transition: 0.5s;
    color: var(--root-color);
    background-position: left bottom;
}

.hashtag_click {
    transform: translateY(-2px);
    transition: 0.5s;
    color: var(--root-color);
    background-position:left bottom;
}


/* 카페 콘텐츠 박스 */
.gird_article_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
    padding: 10px 10px 50px 10px;
    gap: 50px;
}


/* 카페 콘텐츠 */
.article_contents{
    grid-column: span 1;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.article_contents:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

.article_contents:hover > .article_box {
    background-color: transparent;
    transition: 0.5s;
}

.article_contents:hover > .article_img{
    height: 50%;
    transition: 0.5s;
}

.article_contents:hover > .article_box{
    height: 50%;
    transition: 0.5s;
}

.article_img{
    width: 100%;
    height: 60%;
}

.article_box {
    width: 100%;
    height: 40%;
    padding: 20px;
    position: relative;
    word-break: keep-all;
    overflow-wrap: break-word;
    background-color: var(--content-color);
    transition: 0.5s;
}

.default{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--block-color);
}

.default div{
    background-color: var(--root-color);
    width: 90%;
    height: 90%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default img{
    width: 220px;
    height: 300px;
}

.article_contents:nth-child(1){
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/01.jpg);
}
.article_contents:nth-child(2) {
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/02.jpg);
}
.article_contents:nth-child(3) {
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/03.jpg);
}
.article_contents:nth-child(4) {
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/04.jpg);
}
.article_contents:nth-child(5) {
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/05.jpg);
}
.article_contents:nth-child(6) {
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/06.jpg);
}
.article_contents:nth-child(7) {
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/07.jpg);
}
.article_contents:nth-child(8) {
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/08.jpg);
}
.article_contents:nth-child(9) {
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/09.jpg);
}
.article_contents:nth-child(10) {
    background-image: linear-gradient(30deg, var(--block-color) 1%, rgba(255, 255, 255, 0) 99%), url(../img/cafe/10.jpg);
}

.article_box h5{
    width: 100%;
    font-size: 23px;
    margin: 0px 0px 5px 5px;
}

.safe_icon{
    width: 80px;
    height: 80px;
    z-index: 2;
    background-image: url(../img/coffee_medal.png);
    position: absolute;
    background-size: cover;
    top: -40px;
    left: -40px;
}

.article_box_btn{
    width: 100%;
    flex-direction: column;
    white-space: nowrap;
}

.hashtag_line_2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: auto;
}

.hashtag_content_btn {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 15px;
    color: var(--text-color);
    font-weight: 800;
    border-radius: 25px;
    margin: 3px;
    white-space: nowrap;
    transition: 0.5s;
    background-color: var(--root-color);
    font-size: 15px;
}

.go_homePage{
    border: 2px solid var(--text-color);
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    word-break: keep-all;
    overflow-wrap: break-word;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: 0.5s;
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    z-index: 1;
}

.go_homePage:hover{
    color: var(--bg-color);
    background-color: var(--text-color);
    transition: 0.5s;
}

/*미디어 쿼리*/
@media all and (max-width: 768px){
    .main_container {
        padding: 0px 20px;
    }
    .gird_article_container{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(420px, 1fr));
        padding: 10px 20px 50px 20px;
        gap: 50px;
    }
    .article_contents{
        height: 420px;
        place-items: center;
    }
    .article_box {
        padding: 10px;
    }
    .hashtag_content_btn{
        font-size: 10px;
    }

    .hashtag_btn{
        font-size: 10px;
    }
    .hashtag_line_1{
        display: grid;
        grid-template-columns: 1fr 1fr 0.8fr 1fr;
    }
    .hashtag_line_2 {
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        grid-template-rows: 30px 30px;
    }
    .go_homePage{
        font-size: 13px;
    }
    .safe_icon {
        width: 50px;
        height: 50px;
        top: -20px;
        left: -20px;
    }
    .default{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .default {
         display: none;
    }
}

