.main_container{
    width: 100%;
    background-color: var(--bg-color);
}

.hashtag_box{
    width: 100%;
    padding: 50px 20px;
}

.hastag_line_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hastag_line_1 span{
    padding: 6px 15px;
    color: var(--block-color);
    font-weight: 600;
    border-radius: 25px;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    background: linear-gradient(to right, var(--root-color) 50%, white 50%);
    background-size: 200% 100%;
    background-position:left bottom;
}

.hastag_line_1 span:hover{
    transform: translateY(-2px);
    transition: 0.5s;
    color: var(--root-color);
    background-position:right bottom;
}

.gird_article_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr)) auto;
    grid-template-rows: 1fr auto;
    padding: 20px 100px;
    gap: 15px;
}

.article_contents{
    grid-column: span 1;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.article_contents:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

.article_contents img{
    width: 100%;
    height: 320px;
}

.articl_blank{
    grid-column: span 1;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--root-color);
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.articl_blank img{
    width: 280px;
    height: 340px;
}

.article_contents h5{
    margin-top: 5px;
    font-weight: 600;
    font-size: 20px;
    text-align: start;
    width: 280px;
    margin-left: 20px;
}

.article_contents p{
    padding: 10px;
}