.main_container{
    width: 100%;
    background-color: var(--bg-color);
    overflow: hidden;
}

.hashtag_box{
    width: 100%;
    padding: 50px 20px;
}

.hastag_line_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hastag_line_1 span{
    padding: 6px 15px;
    color: var(--text-color);
    font-weight: 600;
    border-radius: 25px;
    margin: 3px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    background: linear-gradient(100deg,  var(--block-color) 50%, var(--root-color) 50%);
    background-size: 220% 100%;
    background-position:right bottom;
}

.hastag_line_1 span:hover{
    transform: translateY(-2px);
    transition: 0.5s;
    color: var(--root-color);
    background-position:left bottom;
}

.gird_article_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
    padding: 10px 140px 50px 140px;
    gap: 15px;
}

.article_contents{
    grid-column: span 1;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.article_contents:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

.article_img{
    width: 100%;
    height: 70%;
    background-color: var(--block-color);
}

.article_box {
    width: 100%;
    height: 30%;
    padding: 10px;
    position: relative;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.safe_icon{
    width: 80px;
    height: 80px;
    z-index: 2;
    background-image: url(../img/coffee_medal.png);
    position: absolute;
    background-size: cover;
    top: -40px;
    left: -40px;
}

.article_box_btn a{
    text-decoration: none;
    color: black;
}

.article_box_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.article_box h5{
    width: 100%;
    font-size: 25px;
    margin-bottom: 15px;
}

.go_homePage{
    border: 2px solid var(--text-color);
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    word-break: keep-all;
    overflow-wrap: break-word;
}