/* 이것은 랜더링 될때마다 나오는 이미지의 css다 */

.opening{
    width:100%;
    height:100%;
    position:fixed;
    left:0px;
    top:0px;
    z-index: 12;
    animation: opening 1s 1s ease-in-out forwards;
    transition: 1s;
    color: var(--root-color);
    background-color: var(--root-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 전체를 고정함 */

.coffee{
    width: 300px;
    height: 300px;
    background-color: var(--block-color);
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 2px 30px rgba(black, .2);
    border-radius: 50%;
}

/* 가운데 동그라미를 만듬 */

.coffee img{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 가운데 마포구 로고이다 */


@keyframes opening {
    from{
        display: block;
        opacity: 1;
    }

    to{
        display: none;
        z-index: -10;
        opacity: 0;
    }
}

/* 이것으로 오프닝이 나온뒤 사라진다*/

.wave {
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: var(--root-color);
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: waterWave 3s linear infinite;
}

/* 모양을 이상하게 만듬 */

.wave:nth-of-type(3) {
    animation: waterWave 5s linear infinite;
}

.wave:nth-of-type(2) {
    animation: waterWave 7s linear infinite;
    opacity: 0.1;
    background: var(--bean-color);
}

/* wave마다 차이를 줘야 흐르는 것 같으니까*/

@keyframes waterWave {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

/* 이상하게 만든 모양을 돌림*/