@import url(header.css);
@import url(main.css);
@import url(map.css);
@import url(footer.css);

/* 
전체 스타일 
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

/* 디자인 색깔 */
:root[color-theme='light'] {
    --text-color: black;
    --bg-color: white;
    --root-color: #fcf4e3;
    --block-color: #dec28c;
    --bean-color: #7B554A;
    --text-color2: #dec28c;
    --cloud-color: #7B554A;
    --letter-color: #888;
    --super-nav: rgb(104, 103, 103);
    --content-color: white;
}

:root[color-theme='dark'] {
    --text-color: #d9d9d9;
    --bg-color: #121212;
    --root-color: #292929;
    --block-color: rgb(116, 115, 115);
    --bean-color: white;
    --text-color2: white;
    --cloud-color: white;
    --letter-color: white;
    --super-nav: rgb(73, 73, 73);
    --content-color: #888888;
}

/*
오프닝
*/

.opening {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 12;
    animation: opening 1s 1s ease-in-out forwards;
    transition: 1s;
    color: var(--root-color);
    background-color: var(--root-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opening .coffee {
    width: 300px;
    height: 300px;
    background-color: var(--block-color);
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.opening .coffee img {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes opening {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        z-index: -10;
        opacity: 0;
    }
}

.wave {
    opacity: 0.4;
    position: absolute;
    top: 3%;
    left: 50%;
    background: var(--root-color);
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: waterWave 3s linear infinite;
}

.wave:nth-of-type(3) {
    animation: waterWave 5s linear infinite;
}

.wave:nth-of-type(2) {
    animation: waterWave 7s linear infinite;
    opacity: 0.1;
    background: var(--bean-color);
}

/*
고정 네비게이션
*/

#super_nav {
    position: fixed;
    bottom: 4%;
    right: 3%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.super_nav_root{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--block-color);
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid var(--root-color);
    animation: superNavAni 1s ease-in-out infinite;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.super_nav_root .wave {
    opacity: 0.4;
    position: absolute;
    background: var(--root-color);
    width: 50px;
    height: 60px;
    margin-left: -25px;
    margin-top: -25px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: waterWave 3s linear infinite;
}

.super_nav_root .wave:nth-of-type(3) {
    animation: waterWave 5s linear infinite;
}

.super_nav_root .wave:nth-of-type(2) {
    animation: waterWave 7s linear infinite;
    opacity: 0.1;
    background: var(--bean-color);
}

.super_nav_panel{
    position: absolute;
    display: none;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    z-index: 5;
    transition: 0.5s;
}

.super_nav_panel span{
    width: 35px;
    height: 35px;
    background-color: var(--super-nav);
    border-radius: 50%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.up_nav:hover{
    background-color: var(--bean-color);
    color: var(--bg-color);
    transition: 0.5s;
}

.up_nav{
    margin-left: 60px;
}

.dark_nav:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
    transition: 0.5s;
}

@keyframes waterWave {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

@keyframes superNavAni {
    0% {
        border: 1px solid var(--root-color);
    }

    from {
        border: 5px solid var(--root-color);
    }
}