@import url(opening.css);
@import url(header.css);
@import url(main.css);
@import url(map.css);
@import url(footer.css);
@import url(root.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}




