.explain_contents{
    width: 100%;
    height: 100%;
    background-color: var(--root-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.cafe_content_1{
    display: flex;
    justify-content: center;
}

.cafe_content_1 img{
    width: 500px;
    height: 500px;
    margin-right: 50px;
    border-radius: 6px;
}

.cafe_content_text{
    display: flex;
    flex-direction: column;
}